/* Custom Swiper styles */
.swiper-button-disabled {
    @apply opacity-50 cursor-default pointer-events-none;
}

.translate-z-0 {
    transform: translateZ(0);
}

/* Custom AOS distance - Optimized for LCP performance */
@media screen {
    /* Add will-change hint to animated elements for GPU acceleration */
    html:not(.no-js) body [data-aos] {
        will-change: transform, opacity;
        backface-visibility: hidden;
        perspective: 1000px;
    }
    
    /* Remove will-change after animation completes to free resources */
    html:not(.no-js) body [data-aos].aos-animate {
        will-change: auto;
    }

    html:not(.no-js) body [data-aos=fade-up] {
        -webkit-transform: translate3d(0, 14px, 0);
        transform: translate3d(0, 14px, 0);
    }

    html:not(.no-js) body [data-aos=fade-down] {
        -webkit-transform: translate3d(0, -14px, 0);
        transform: translate3d(0, -14px, 0);
    }

    html:not(.no-js) body [data-aos=fade-right] {
        -webkit-transform: translate3d(-14px, 0, 0);
        transform: translate3d(-14px, 0, 0);
    }

    html:not(.no-js) body [data-aos=fade-left] {
        -webkit-transform: translate3d(14px, 0, 0);
        transform: translate3d(14px, 0, 0);
    }

    html:not(.no-js) body [data-aos=fade-up-right] {
        -webkit-transform: translate3d(-14px, 14px, 0);
        transform: translate3d(-14px, 14px, 0);
    }

    html:not(.no-js) body [data-aos=fade-up-left] {
        -webkit-transform: translate3d(14px, 14px, 0);
        transform: translate3d(14px, 14px, 0);
    }

    html:not(.no-js) body [data-aos=fade-down-right] {
        -webkit-transform: translate3d(-14px, -14px, 0);
        transform: translate3d(-14px, -14px, 0);
    }

    html:not(.no-js) body [data-aos=fade-down-left] {
        -webkit-transform: translate3d(14px, -14px, 0);
        transform: translate3d(14px, -14px, 0);
    }

    html:not(.no-js) body [data-aos=zoom-in-up] {
        -webkit-transform: translate3d(0, 14px, 0) scale(.6);
        transform: translate3d(0, 14px, 0) scale(.6);
    }

    html:not(.no-js) body [data-aos=zoom-in-down] {
        -webkit-transform: translate3d(0, -14px, 0) scale(.6);
        transform: translate3d(0, -14px, 0) scale(.6);
    }

    html:not(.no-js) body [data-aos=zoom-in-right] {
        -webkit-transform: translate3d(-14px, 0, 0) scale(.6);
        transform: translate3d(-14px, 0, 0) scale(.6);
    }

    html:not(.no-js) body [data-aos=zoom-in-left] {
        -webkit-transform: translate3d(14px, 0, 0) scale(.6);
        transform: translate3d(14px, 0, 0) scale(.6);
    }

    html:not(.no-js) body [data-aos=zoom-out-up] {
        -webkit-transform: translate3d(0, 14px, 0) scale(1.2);
        transform: translate3d(0, 14px, 0) scale(1.2);
    }

    html:not(.no-js) body [data-aos=zoom-out-down] {
        -webkit-transform: translate3d(0, -14px, 0) scale(1.2);
        transform: translate3d(0, -14px, 0) scale(1.2);
    }

    html:not(.no-js) body [data-aos=zoom-out-right] {
        -webkit-transform: translate3d(-14px, 0, 0) scale(1.2);
        transform: translate3d(-14px, 0, 0) scale(1.2);
    }

    html:not(.no-js) body [data-aos=zoom-out-left] {
        -webkit-transform: translate3d(14px, 0, 0) scale(1.2);
        transform: translate3d(14px, 0, 0) scale(1.2);
    }
}